<ion-header>
  <ion-toolbar>
    <ion-title>Password Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account-setting"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
      <p> please Enter email and old password to change paswword  </p>
      <form  #form="ngForm" (ngSubmit)="changepass(form)">

        <ion-input class="e2" name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
        <ion-input  class="e3"name="password" type="password" placeholder="Old Password" ngModel required></ion-input>

        <ion-input  class="e22"name="newpassword" type="text" placeholder="New Password" ngModel required></ion-input>
        <ion-input  class="e33"name="newpassword2" type="text" placeholder="New Password Again" ngModel required></ion-input>
        <ion-button class="bt" size="large" type="submit" [disabled]="form.invalid" expand="block">Change</ion-button>
    </form>
   </div>

</ion-content>

<ion-footer  >
  <ion-toolbar color="#00000000">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)='gohome()'>
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button>
          <ion-icon name="help-circle-outline"></ion-icon>
          <ion-label> Help</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
