ion-content{
  --background: black;
}
p{
  font-weight: 900;
  font-style: italic;
  font-size: 120%;
  color: chocolate;
  position: absolute;
  top: 100px;
  left: 30px;
  }
  .container{
    position: relative;
    text-align: center;

  }

  .e2{
    position: absolute;
    top: 260px;
    left: 40px;
    --background: white;
    border-radius: 50px;
    width: 300px;
  }
  .e3{
    position: absolute;
    top: 310px;
    left: 40px;
    --background: white;
    border-radius: 50px;
    width: 300px;
  }
  .e22{
    position: absolute;
    top: 390px;
    left: 40px;
    --background: white;
    border-radius: 50px;
    width: 300px;
  }
  .e33{
    position: absolute;
    top: 450px;
    left: 40px;
    --background: white;
    border-radius: 50px;
    width: 300px;
  }

  .bt{
    position: absolute;
    top: 540px;
    left: 110px;
    --background: chocolate;
  }
  ion-toolbar{
    --background: chocolate;
    --color: floralwhite;

    }

