<ion-header>
  <ion-toolbar>

    <ion-title><h2 >Ingredients</h2></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/search"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="gett()"> GET </ion-button>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle><p class="p1">{{datam.publisher}}</p></ion-card-subtitle>
      <ion-card-title><p class="p2">{{datam.title}}</p></ion-card-title>
    </ion-card-header>

    <ion-card-content>
    <ion-img [src]="datam.imagerl"></ion-img>
    <ion-list>
      <ion-item *ngFor="let item of repa">
        <p class="p3">{{item.title}}</p>
        <p class="p3">{{item.publisher}}</p>
        <p class="p3">{{item.repid}}</p>
        <ion-img [src]="item.imageurl"></ion-img>
      </ion-item>
    </ion-list>
    <a [href]="datam.sourceurl">
      <p class="p4">Source Link</p>
    </a>
  </ion-card-content>

  </ion-card>



</ion-content>

